body{
  margin: 0;
  font-family: 'verdana', sans-serif;
  font-family: 'Merriweather', serif;
    }

    h1 {
      font-style: 5.625rem;
      font-size: 332.5%; /* 1em = 100% = 16px */
      width: 40%;
      margin-top: 50px;
      margin-bottom: 0;
      font-family: 'Sacramento', cursive;
      color: #66BFBF;
      line-height: 2;
    }

    h2 {
      font-style: 2.5rem;
      margin-top: 10px;
      font-family: 'Montserrat', cursive;
      color: #66BFBF;
      font-weight: normal;
    }

    h3 {
      font-family: 'Montserrat', cursive;
      color: #11999E;
    }

    .web {
        text-decoration: underline;
      }
      a {
        color: #11999E;
      }

  .top {
  background-color: #E4F9F5;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

.middle {

}

.bottom{

}

.top-cloud {
  position: relative;
  left: 300px;
  top: 50px;
}

.bottom-cloud{
  position: relative;
  left: 0;
  bottom: 300px;
}

.img {
  text-align: left;
  margin-top: 0;
  margin-left: 10px;
  POSITION: FIXED;
}

@keyframes apm {
  0% {background-color: red;}
  25% {background-color: blue;}
  50% {background-color: green;}
  75% {background-color: yellow;}
  100% {background-color: black;}

}

.Hello:hover {
   animation-name: apm;
  animation-duration: 5s;
}

hr {
    border-style: none;
    width: 50%;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
}
